<div class="font-mono">
    <header class="px-xl py-md bg-primary-light text-xl font-bold shadow-md">
        <nav class="flex justify-center space-x-10">
            <a href="/"
                class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Home</a>
            <a href="/"
                class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Ranking</a>
            <a href="/participate"
                class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Mitmachen</a>
            <a href="/contact"
                class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Kontakt</a>
            <a href="/legal"
                class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Rechtliches</a>
        </nav>
    </header>
    <main class="max-w-xl md:max-w-2xl lg:max-w-6xl mx-auto py-xl px-md md:px-xl space-y-8">
        <div class="flex flex-col p-lg bg-secondary-light shadow-md hover:shadow-lg">
            <div class="pb-md text-lg font-bold">#1 Nettetal</div>
            <div class="mb-xl flex space-x-4">
                <div class="bg-gray-200 flex-1">
                    <div class="w-full bg-green-600 h-full" style="width: 83%"></div>
                </div>
                <div>83 / 100</div>
            </div>
            <accordion>
              <group title="Verkehr (6/10)">
                <ul>
                  <li>Maßnahme 1</li>
                  <li>Maßnahme 2</li>
                  <li>Maßnahme 3</li>
                </ul>
              </group>
              <group title="Energie (4/10)">
                <ul>
                  <li>Maßnahme 1</li>
                  <li>Maßnahme 2</li>
                  <li>Maßnahme 3</li>
                </ul>
              </group>
              <group title="Gebäude (8/10)">
                <ul>
                  <li>Maßnahme 1</li>
                  <li>Maßnahme 2</li>
                  <li>Maßnahme 3</li>
                </ul>
              </group>
              <group title="Natur (9/10)">
                <ul>
                  <li>Maßnahme 1</li>
                  <li>Maßnahme 2</li>
                  <li>Maßnahme 3</li>
                </ul>
              </group>
            </accordion>
            <a class="py-sm px-md bg-primary-dark hover:bg-primary text-white flex self-end" href="https://angular.io/"
                target="_blank" rel="noopener noreferrer">
                Vor Ort engagieren!
            </a>
        </div>

        <div class="flex flex-col p-lg bg-secondary-light shadow-md hover:shadow-lg">
            <div class="pb-md text-lg font-bold">#2 Bad Schwalbach</div>
            <p class="mb-xl flex-1">
                Tailwind CSS is a utility-first CSS framework packed with classes like flex, pt-4, text-center and
                rotate-90 that can be composed to build any design, directly in your markup.
            </p>
            <a class="py-sm px-md bg-primary-dark hover:bg-primary text-white flex self-end"
                href="https://tailwindcss.com/" target="_blank" rel="noopener noreferrer">
                Vor Ort engagieren!
            </a>
        </div>

        <div class="flex flex-col p-lg bg-secondary-light shadow-md hover:shadow-lg">
            <div class="pb-md text-lg font-bold">#3 Münster</div>
            <p class="mb-xl flex-1">
                Nx is a smart, fast and extensible build system with first class monorepo support and powerful
                integrations.
            </p>
            <a class="py-sm px-md bg-primary-dark hover:bg-primary text-white flex self-end" href="https://nx.dev/"
                target="_blank" rel="noopener noreferrer">
                Vor Ort engagieren!
            </a>
        </div>
    </main>
</div>
