.mypanel {
    background-color: white;
    color: #222;
  }

  .mypanel .title {
    background-color: #ccc;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #666;
  }

  .mypanel .body {
    padding: 10px;
  }

  .mypanel .body.hidden {
    display: none;
  }
